<p>
  <strong>accountnumber:</strong>
  <%= @transaction.accountnumber %>
</p>
 
<p>
  <strong>Date_dedection:</strong>
  <%= @transaction.date_dedection %>
</p>
<p>
  <strong>Discription:</strong>
  <%= @transaction.discription %>
</p>
<%= link_to 'Back', transactions_path %>